

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .logo {
        svg {
            width: 13rem;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .logo {
        svg {
            width: 10rem;
        }
    }
}