.footer {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem 0;
    &__logo {
    }
    &__descr {
    }
    &__descr-text {
        font-size: 1.2rem; 
        span {
            color: #ababab;
        }
    }
    &__descr-year {
        float: right;
        font-size: 1.7rem;
        color: #ababab;
    }
}