.footer {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem 0;
    &__descr-text {
        font-size: 1.2rem; 
        span {
            color: #ababab;
        }
    }
    &__descr-year {
        float: right;
        font-size: 1.7rem;
        color: #ababab;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .footer {
        padding: 1rem;
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .footer {
        padding: 1rem;
        &__descr-text {
            font-size: 1rem; 
            span {
                color: #ababab;
            }
        }
        &__descr-year {
            float: right;
            font-size: 1.5rem;
            color: #ababab;
        }
    }
}