.header {
    margin: 0 auto;
    max-width: 87.5rem;
    height: 6.75rem;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .header {
        height: 4.75rem;
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .header {
        height: 3.75rem;
    }
}