.join {
    margin: 0 auto;
    height: auto;
    padding: 1.25rem 0;
    background: linear-gradient( 90deg, rgb(255,137,32) 0%, rgb(255,162,0) 20%, rgb(255,162,0) 80% ,rgb(255,137,32) 100%);
    &__container {
        max-width: 60rem;
        background-color: #fff;
    }
    &__slider {
        width: 50%;
        &-slide {
            height: 30rem;
            &__img {
                height: inherit;
            }
        }
    }
    --swiper-theme-color: rgb(255, 128, 12);
    &__form {
        width: 50%;
        padding: 1rem 2rem;
        text-align: left;
    }
    &__form-title {
        position: relative;
        width: 100%;
        font-size: 2.8rem;
        font-weight: 300;
        color: rgb(255, 128, 12);
        &:before{
            content:"";
            display: block;
            height: 35px;
            width: 100%;
            position: absolute;
            top: 5px;
            background-image: linear-gradient(to top,  rgba(255, 255, 255, 0), #fff 100%);
            opacity: 1;
        }
    }
    &__form-sex {
        width: 100%;
        margin-top: 1rem;
    }
    &__form-sex__title {
        width: 5rem;
    }
    &__form-sex__container {
        width: 21rem;
    }
    &__form-sex__wrapper {
        width: 6rem;
        height: 2.5rem;
        border-radius: 2rem;
    }

    &__form-sex__part {
        position: relative;
        width: 3rem;
        height: 2.5rem;
        height: 100%;
        &:nth-child(1) {
            transition: all 0.2s;
            background-color: rgb(255, 128, 12);
            border-top: solid 1px #838383;
            border-left: solid 1px #838383;
            border-bottom: solid 1px #838383;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
            box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.36);

        }
        &:nth-child(2) {
            transition: all 0.2s;
            border-top: solid 1px #838383;
            border-right: solid 1px #838383;
            border-bottom: solid 1px #838383;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.36);

        }
        .cls-1 {
            fill-rule: evenodd;
            filter: url(#filter_1);
        }
        .cls-2 {
            fill-rule: evenodd;
            filter: url(#filter_2);
        }
    }
    &__form-sex__radio {
        cursor: pointer;
        position: absolute;
        width: 3.2rem;
        height: 3.2rem;
        opacity: 0;
    }
    &__form-name {
        margin-top: 1rem;
        width: 100%;
    }
    &__form-name__title {
        width: 5rem;
    }
    &__form-name__container {
        width: 21rem;
    }
    &__form-name__field {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem 1rem;
        color: #000;
        border: 1px solid #838383;
        border-radius: 2rem;
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
        background-image: linear-gradient( 90deg, rgb(245,250,251) 0%, rgb(230,230,230) 100%);
        &:focus-visible {
            outline: none;
        }
    }
    &__form-age {
        margin-top: 1rem;
    }
    &__form-age__container {
        width: 21rem;
    }
    &__form-age__title {
        width: 5rem;
    }
    &__form-age__block {
        position: relative;
        &::before {
            content: url(../img/form/arrow.png);
            position: absolute;
            top: 0.6rem;
            left: 3.5rem;
            width: 1rem;
            height: 2.5rem;
            z-index: 2;
            pointer-events: none;
        }
        &::after {
            content: url(../img/form/bc__arrow.png);
            position: absolute;
            top: 0;
            left: 2.7rem;
            width: 1rem;
            height: 2.5rem;
            z-index: 1;
            pointer-events: none;
        }
    }
    &__form-age__block:nth-child(2) {
        &::before {
            left: 6.5rem;
        }
        &::after {
            left: 5.7rem;
        }
    }
    &__form-age__block:nth-child(3) {
        &::before {
            left: 4.5rem;
        }
        &::after {
            left: 3.7rem;
        }
    }
    #join__form-age__day {
        height: 2.25rem;
        width: 5rem;
        border-radius: 2rem;
        padding-right: 1rem;
        text-align: center;
        font-size: 1.2rem;
        background-image: linear-gradient( 90deg, rgb(245,250,251) 0%, rgb(230,230,230) 100%);
        &:focus-visible {
            outline: none;
        }
    }
    #join__form-age__month {
        height: 2.25rem;
        width: 8rem;
        border-radius: 2rem;
        padding: 0 1rem;
        text-align: left;
        font-size: 1rem;
        background-image: linear-gradient( 90deg, rgb(245,250,251) 0%, rgb(230,230,230) 100%);
        &:focus-visible {
            outline: none;
        }
    }
    #join__form-age__year {
        height: 2.25rem;
        width: 6rem;
        border-radius: 2rem;
        padding-right: 1rem;
        text-align: center;
        font-size: 1rem;
        background-image: linear-gradient( 90deg, rgb(245,250,251) 0%, rgb(230,230,230) 100%);
        &:focus-visible {
            outline: none;
        }
    }
    &__form-city {
        width: 100%;
        margin-top: 1rem;
    }
    &__form-city__title {
        width: 5rem;
    }
    &__form-city__container {
        position: relative;
        width: 21rem;
        &::before {
            content: url(../img/form/arrow.png);
            position: absolute;
            top: 0.6rem;
            left: 19.5rem;
            width: 1rem;
            height: 2.5rem;
            z-index: 2;
            pointer-events: none;
        }
        &::after {
            content: url(../img/form/bc__arrow.png);
            position: absolute;
            top: 0;
            left: 18.7rem;
            width: 1rem;
            height: 2.5rem;
            z-index: 1;
            pointer-events: none;
        }
    }
    #join__form-city__city {
        width: 100%;
        height: 2.25rem;
        padding: 0.5rem 1rem;
        color: #000;
        border: 1px solid #838383;
        border-radius: 2rem;
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
        background-image: linear-gradient( 90deg, rgb(245,250,251) 0%, rgb(230,230,230) 100%);
        &:focus-visible {
            outline: none;
        }
    }
    .join__form-boxes {
        margin-left: 5rem;
        width: 100%;
        margin-top: 1rem;
    }
    .join__form-boxes__container {
        width: 50%;
    }
    #join__form-boxes__checkfirst {
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    #join__form-boxes__checksecond {
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    #join__form-boxes__radiofirst {
        position: relative;
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    #join__form-boxes__radiosecond {
        position: relative;
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    #join__form-boxes__checkfirst, #join__form-boxes__checksecond {
        &::before {
            content: '';
            position: absolute;
            border: 1px solid #838383;
            border-radius: 2px;
            background-color: #fff;
            background-image: linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(245,250,251) 100%);
            width: 0.9rem;
            height: 0.9rem;
            z-index: 1;
            pointer-events: none;
        }
    }
    #join__form-boxes__checkfirst:checked, #join__form-boxes__checksecond:checked {
        &::after {
            content: '';
            position: absolute;
            margin-left: 2.5px;
            margin-top: 2.5px;
            width: 0.6rem;
            height: 0.6rem;
            z-index: 2;
            pointer-events: none;
            background-image: linear-gradient( 90deg, rgb(255,137,31) 0%, rgb(255,174,2) 100%);
        }
    }
    #join__form-boxes__radiofirst, #join__form-boxes__radiosecond {
        &::before {
            content: '';
            position: absolute;
            top: -1px;
            border: 1px solid #838383;
            border-radius: 50%;
            background-color: #fff;
            background-image: linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(245,250,251) 100%);
            width: 0.9rem;
            height: 0.9rem;
            z-index: 1;
            pointer-events: none;
        }
    }
    #join__form-boxes__radiofirst:checked, #join__form-boxes__radiosecond:checked {
        &::after {
            content: '';
            position: absolute;
            top: -1px;
            margin-left: 2.5px;
            margin-top: 2.4px;
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50%;
            z-index: 2;
            pointer-events: none;
            background-image: linear-gradient( 90deg, rgb(255,137,31) 0%, rgb(255,174,2) 100%);
        }
    }
    .join__form-submit {
        width: 100%;
        margin-top: 1rem;
    }
    .join__form-submit__container {
        width: 21rem;
        margin-left: 5rem;
    }
    .join__form-submit__btn {
        width: 100%;
        height: 5rem;
        border: 1px solid rgb(127, 166, 7);
        border-radius: 10rem;
        background-image:linear-gradient( 360deg, rgb(148,197,22) 4%, rgb(114,170,0) 52%, rgb(142,185,42) 52%, rgb(168,199,50) 92%, rgb(185,206,68) 100%);
        font-size: 3rem;
        font-size: 48px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.29);
        @include btn_anim(1.01, 0.99);
        &:hover {
            cursor: pointer;
        }
    }
}