.info {
    margin-top: 2rem;
    &__container {
        margin: 0 auto;
        max-width: 60rem;
    }
    &__users-descr {
        width: 50%;
        text-align: justify;
    }
    &__users-descr__wrapper {
        margin-top: 1rem;
    }
    &__users-descr__pic {
        float: left;
        shape-outside: circle(50%);
        margin-right: 1rem;
    }
    &__users-descr__text {
        line-height: 1.2;
    }
    &__users-list {
        max-width: 30rem;
        padding-left: 2rem;
    }
    &__users-list__title {
        margin-left: 3rem;
    }
    &__users-list__tabs {
        font-size: 0;
        width: 22rem;
        margin: 0 auto;
        margin-top: 1.5rem;
    }
  
    &__users-list__tabs>input[type="radio"] {
        display: none;

    }
  
    &__users-list__tabs>div {
        display: none;
        border: 1px solid #e0e0e0;
        padding: 0.5rem  1rem;
        font-size: 1rem;
    }
    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2 {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
    }
  
    &__users-list__tabs>label {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        border-radius: 1rem 1rem 0px 0px;
        padding: 3px 10px 3px 8px;
        font-size: 1rem;
        line-height: 1.5;
        transition: all 0.15s ease-in-out, background-color 0.15s ease-in-out;
        cursor: pointer;
        position: relative;
        top: 1px;
    }
  
    &__users-list__tabs>label:not(:first-of-type) {
        border-left: none;
    }
  
    &__users-list__tabs>input[type="radio"]:checked+label {
        background-color: #fff;
        border-bottom: 1px solid #fff;
    }
    &__users-list__container {
        width: 100%;
    }
    &__users-list__cell {
        width: 12rem;
    }
    &__users-list__bar {
        position: relative;
        width: 100%;
        height: 1.1rem;
        margin-top: 0.5rem;
        text-align: center;
        border: solid 1px rgba(0, 0, 0, 0.162);
        border-radius: 3px;
        background-image: linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(245,250,251) 100%);
        &::after {
            content: '';
            position: absolute;
            width: 60%;
            height: 0.9rem;
            top: 0.5px;
            left: 0;
            z-index: 1;
            border-radius: 3px;
            background-color: rgb(255, 145, 49);
        }
        span {
            position: relative;
            top: -0.2rem;
            font-size: 0.8rem;
            z-index: 2;
        }
    }
    &__users-list__steps {
        margin-top: 1.5rem;
        font-size: 0.6rem;
    }
    &__users-list__step {
        padding: 0.3rem 0.6rem;
        width: 2.85rem;
        cursor: pointer;
        &:nth-child(1) {
            position: relative;
            border: solid 1px #dedede;
            border-radius: 4px;
            background-image: linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(245,250,251) 100%);
            clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
        }
        &:nth-child(2) {
            position: relative;
            left: -9px;
            border: solid 1px #dedede;
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            background-image: linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(245,250,251) 100%);
            clip-path: polygon(0 0, 80% 0%, 100% 50%, 80% 100%, 0 100%, 20% 50%);
        }
        &:nth-child(3) {
            position: relative;
            left: -18px;
            border: solid 1px #dedede;
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            background-image: linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(245,250,251) 100%);
            clip-path: polygon(0 0, 80% 0%, 100% 50%, 80% 100%, 0 100%, 20% 50%);
            // background-image: linear-gradient( 90deg, rgb(255,137,31) 0%, rgb(255,174,2) 100%);
        }
        &:nth-child(4) {
            position: relative;
            left: -27px;
            border: solid 1px #dedede;
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            background-image: linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(245,250,251) 100%);
            clip-path: polygon(0 0, 80% 0%, 100% 50%, 80% 100%, 0 100%, 20% 50%);
            background-image: linear-gradient( 90deg, rgb(241, 241, 241) 0%, rgb(255, 255, 255) 100%);
        }
        &:nth-child(5) {
            position: relative;
            left: -36px;
            border: solid 1px #dedede;
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            background-image: linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(245,250,251) 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
            background-image: linear-gradient( 90deg, rgb(241, 241, 241) 0%, rgb(255, 255, 255) 100%);
        }
    }
    .info__users-list__slider {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .irs-min, .irs-max, .irs-from, .irs-to, .irs-single {
        display: none;
    }
    .irs--flat .irs-bar {
        top: 25px;
        height: 12px;
        background-color: rgb(255, 145, 49);
    }
    .irs-handle {
        cursor: pointer;
        &::after {
            content: url('../img/info/slider__btn.png');
            position: relative;
            width: 1rem;
            height: 2rem;
            top: -4px;
            z-index: 1;
            pointer-events: none;
        }
    } 
    &__users-list__progress {

    }
}
