.info__users-slider {
    margin-top: 1rem;
    width: 100%;
    padding: 0 3rem;
    .swiper-button-prev {
        left: 0;
        top: 1rem;
        height: 4.4rem;
        width: 3rem;
        background-color: #fff;
    }
    .swiper-button-next {
        right: 0;
        top: 1rem;
        height: 4.4rem;
        width: 3.5rem;
        background-color: #fff;
    }
    .swiper-button-prev:after {
        content: url('../img/info/arrowleft_icon.png');
        width: 2rem;
        height: 2.5rem;
    }
    .swiper-button-next:after {
        content: url('../img/info/arrowright_icon.png');
        width: 2rem;
        height: 2.5rem;
    }
    &__slide {
        height: 4rem;
        img {
            height: 100%;
            width: 100%;
        }
        &:hover {
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                left: 0;
                top: 0;
                transition: opacity 0.6s;
            }
        }
    }
    &__smile {
        position: absolute;
        display: none;
        top: 2.5rem;
        left: 0.8rem;
        z-index: 1;
        cursor: pointer;
        &:hover {
            .cls-3 {
                opacity: 1;
            }
        }
    }
    &__add {
        display: none;
        position: absolute;
        top: 2.5rem;
        left: 2.2rem;
        z-index: 1;
        cursor: pointer;
        &:hover {
            .cls-4 {
                opacity: 1;
            }
        }
    }
    &__name {
        position: absolute;
        display: none;
        width: 100%;
        font-size: 1rem;
        top: 0.5rem;
        text-align: center;
        z-index: 1;
        color: #fff;
    }
    .cls-3 {
        fill: #fff;
        fill-rule: evenodd;
        opacity: 0.5;
    }
    .cls-4 {
        fill: #fff;
        fill-rule: evenodd;
        opacity: 0.5;
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .info__users-slider {
        padding: 0;
        width: 19rem;
        .swiper-button-prev {
            display: none;
        }
        .swiper-button-next {
            display: none;
        }
        &__slide {
            height: 3.5rem;
        }
        &__smile {
            top: 1.8rem;
            left: 0.5rem;
        }
        &__add {
            top: 1.8rem;
            left: 1.9rem;
        }
        &__name {
            font-size: 0.7rem;
        }
    }
}